<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>OTP-Verification</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <style type="text/css">
        table {
            border-collapse: separate;
        }
        a, a:link, a:visited {
            text-decoration: none;
            color: #00788a;
        }
        a:hover {
            text-decoration: underline;
        }
        h2,h2 a,h2 a:visited,h3,h3 a,h3 a:visited,h4,h5,h6,.t_cht {
            color: #000 !important;
        }
        .ExternalClass {

            width: 100%;

        }
        /* background-image: url(''); */
    </style>
</head>
<body class="ExternalClass" style="max-width: 600px;margin: auto;">
    <table
        style="height:100px;background-color: #053225;background-repeat: no-repeat;background-size: cover;padding: 7px;width: 100%;">
        <!-- <tr>
            <td>
                <img src="#" alt=""
                    style="width: 95px;">
            </td>
        </tr> -->
        <tr>
            <td
                style="font-family: 'Inter', sans-serif;font-size: 40px;color: #000;font-weight: 500;line-height: 45px;letter-spacing: -3px;">
                <span style="color:#3d5bf1"> Dear Project 01 user,</span>
            </td>
        </tr>
    </table>
    <table style="background-color: #fff;padding: 7px;width: 100%;">
        <tr>
            <td style="font-family: 'Inter', sans-serif;font-size: 11px;color: #000;font-weight: 600;">
                <p>You have attempted to verify the email to your project_01 account. </p>
            </td>
        </tr>
        <tr>
            <td style="font-family: 'Inter', sans-serif;font-size: 11px;color: #000;font-weight: 600;">
                <p>Please use this OTP:<b style="font-size: 15px">{{otp}} </b>to verify email. </p>
            </td>
        </tr>
        <tr>
            <td style="font-family: 'Inter', sans-serif;font-size: 11px;color: #000;font-weight: 600;">
                <p>This OTP code will be valid for 10 minutes and is meant for single use only. </p>
            </td>
        </tr>
        <tr>
            <td style="font-family: 'Inter', sans-serif;font-size: 11px;color: #000;font-weight: 600;">
                <p>Beware of frauds. Do not share or disclose the OTP to anyone.</p>
            </td>
        </tr>
        <tr>
            <td style="font-family: 'Inter', sans-serif;font-size: 11px;color: #000;font-weight: 600;">
                <p style="margin-bottom: 0;">Sincerely,
                    <br>
                    Project_01 Services Team
                </p>
            </td>
        </tr>
    </table>
    <table style="padding: 7px;background-color:#053225;width: 100%;">
        <tr>
            <td style="font-family: 'Inter', sans-serif;font-weight: 700;font-size: 13px;color:#fff;text-align: center;margin: 10px 0px;">
                <!-- Second homes re-imagined.s -->
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;margin: 10px 0px;">
                <p style="margin: 10px 0px;">
                    <a href="#" target="_blank"
                        style="margin: 0px 10px;">
                        <img src="https://devapi.partment.co/web/templates/email_templates/images/insta.png">
                    </a>
                    <a href="#" style="margin: 0px 10px;" target="_blank">
                        <img src="https://devapi.partment.co/web/templates/email_templates/images/linkedin.png">
                    </a>
                </p>
            </td>
        </tr>
        <tr>
            <td>
            </td>
        </tr>
        <tr>
            <td style="font-family: 'Inter', sans-serif;font-size: 8px;color:#fff;text-align: center;margin: 10px 0px;">
                &#169; 2022 Project 01 - All Rights Reserved
            </td>
        </tr>
    </table>
</body>

</html>